# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
/.idea
/.vscode
.env.backup
.env.example.local

# Laravel 8+ with Sail
docker-compose.override.yml

# Composer
composer.lock

# NPM & Vite (kalau sudah tidak dipakai, tetap aman diabaikan)
/package-lock.json
/yarn.lock
/pnpm-lock.yaml
/.pnp.*
*.tgz

# IDEs and editors
*.sublime-project
*.sublime-workspace
*.code-workspace

# System files
.DS_Store
Thumbs.db
